<div>
    <button class="btn btn-lg btn-outline-primary" (click)="openAdd()">
        <img id="p-link" style="background-color: white" src="/assets/img/agregar.png" alt="add_education">
      </button>
    <button class="btn btn-lg btn-outline-primary" (click)="open()">
        <img id="p-link" style="background-color: white" src="/assets/img/editar.png" alt="edit_education">
    </button>
    <button class="btn btn-lg btn-outline-primary" (click)="openDel()">
        <img id="p-link" style="background-color: white" src="/assets/img/eliminar.png" alt="delete_education">
    </button>
    
</div>