<div class="card" >
    <h2>Experiencia</h2>
    <div class="card-body">
        <div style="margin:30px">

            <label>Profesión:  </label>
            <input class="form-control" type="text" placeholder="Inserta aqui tu principal actividad">

        </div>

        <div style="margin:30px">

            <label>Periodo:  </label>
            <input class="form-control" type="text" placeholder="Inserta aqui desde que año hasta que año">

        </div>
        
        <div style="margin:30px">
            <label>Descripción: </label>
            <input class="form-control" type="text" placeholder="Inserta aqui una breve descripción de tu actividad">
        </div>

    </div>
    <button class="btn btn-primary"type="submit">Guardar</button>
    
</div>
