<div id="main-content">
  <div class="tb" style="margin-top: 35px">
    <div class="td" id="l-col">
      <div class="l-cnt">
        <div class="cnt-label">
          <div *ngIf="cookieState" ><ngbd-modal-component-skill></ngbd-modal-component-skill>  </div>
          <br>
          <i class="l-i" id="l-i-i"></i>
          <span>Soft Skills y Hard Skills</span>
          
        </div>
        <div>
          
          <div style="margin-left:15px;">
            <app-progress-skills></app-progress-skills>
          </div>
        </div>
        
      </div>
